<div>
    <div>
        <div>
            <a class="p-link" href="{{host}}/modules/incidents/{{displayResult.id}}">View Incident in CyberSponse</a>
        </div>
        <h1 class="p-title">
            {{displayResult.name}}
        </h1>
        {{#each displayResult.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>

            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{item.value}}}</span>
        </div>
        {{/each}} {{#if hasIndicators}}
        <h1 class="p-title">
            Indicators
        </h1>

        {{#each indicators as |indicator|}}
        <div>
            <a class="p-link" href="{{host}}/modules/indicators/{{indicator.id}}">View Indicator in CyberSponse</a>
        </div>
        <h2 class="p-title">
            {{indicator.title}}
        </h2>
        {{#each indicator.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>
            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{item.value}}}</span>
        </div>
        {{/each}}
        <h2 class="p-title">
            Sightings
        </h2>{{#each indicator.sightings as |sighting|}}
        <div>
            <span class="p-key">{{sighting.key}}</span>
            <!-- sometimes we get html back so don't escape it -->
            <span class="p-value">{{{sighting.value}}}</span>
        </div>
        {{/each}} {{/each}} {{/if}}

        <h1 class="p-title">
            Actions
        </h1>
        {{#each details.actions as |action|}}
        <div>
            <span>
                <button {{action "invokePlaybook" action displayResult.alert}} class="btn btn-primary">
                    {{action.name}}
                </button>
                {{#if action.success}}
                <span class="success">Success!</span>
                {{/if}} {{#if action.error}}
                <span class="error">Error while processing playbook, check logs</span>
                {{/if}}
            </span>
        </div>
        <br /> {{/each}}
    </div>
</div>